{% include 'index.html' %}

{% if user %}
<h2>Your Entries</h2>
<div class="container">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Entry</th>
        <th scope="col">Definition</th>
      </tr>
    </thead>
    <tbody>
   
      {% for entry in entries %}
      {% if user == entry["user"] %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td class="col-md-3">{{entry["entry"]}}</td>
        <td class="col-md-6">{{entry["definition"]}}</td>
     
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<div class="alert alert-info" role="alert">
  In this app you can start building your own online encyclopedia with all the terms and definitions you need to remember. You will also be able to see the posts of other users and search through all the content.
</div>
 
{% endif %}